<% provide(:title, 'Encuesta') %>
<div class="row">
  <h3 id="saldo"><%= @advertising.nombre %></h3>
</div>
<div class="row">
  <div class="span6 offset1">
    <h3>Preguntas (<%= @preguntas.count %>)</h3>
    <%= form_for (@quiz), :method => 'PUT' ,:url => encuesta_user_advertising_path(current_user.idUsuario,@advertising) do |f| %>
        <%= render 'shared/error_messages', object: f.object%>
        <%= f.hidden_field :numPreguntas, :value => @preguntas.count %>
        <ol class="preguntas">
          <% @preguntas.each do |pregunta| %>
            <%= render :partial => 'advertisings/pregunta',locals: { pregunta: pregunta, f: f, q: @quiz }%>
          <% end %>
        </ol>
        <% if current_user.idTipoUsuario == 2 %>
            <%= f.submit 'Enviar' ,class: "btn btn-large btn-primary" %>
        <% end %>
    <% end %>
  </div>
</div>

