<% provide(:title, 'Publicidad') %>
<h1>Nueva Publicidad <%= @user.nombre%></h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for (@advertising), html: { multipart: true },:url => user_advertisings_path(current_user.idUsuario,@advertising) do |f| %>
        <%= render 'shared/error_messages', object: f.object%>

        <%= f.hidden_field :idUsuario, :value => @user.id %>

        <%= f.label :nombre %>
        <%= f.text_field :nombre %>

        <%= f.label :alcance %>
        <%= f.text_field :numEncuestas %>

        <%= f.label :Premio %>
        <%= f.text_field :premio %>

        <%= f.label :categoria %>
        <%= collection_select(:Categoria, :idcategoria, @categorias, :idcategoria, :nombre, options ={:prompt => "Selecciona una categoria"}) %>


        <%= f.label :Contenido %>
        <div class="contenido">
            <%= f.label :Youtube %>
            <%= f.check_box :tipoContenidoYoutube %>

            <%= f.label :Video %>
            <%= f.check_box :tipoContenidoVideo %>
        </div>

        <div id="pathContenido">
            <%= f.label :link %>
            <%= f.text_field :pathContenidoYoutube %>
        </div>

        <div id="pathContenidoVideo">
          <%= f.label :video %>
          <%= f.file_field :pathContenidoVideo %>
        </div>

        <%= f.label :filtros %>
        <div class="filtro_sexo">
          <%= f.label :hombre %>
          <%= f.radio_button :filtroSexo, 'M' %>
          <%= f.label :mujer %>
          <%= f.radio_button :filtroSexo, 'F' %>
          <%= f.label :mixto %>
          <%= f.radio_button :filtroSexo, "M-F" %>
        </div>

        <div class="filtro_edad">
          <%= f.label :edad_minima %>
          <%= f.select :min, (10..99).to_a %>

          <%= f.label :edad_maxima %>
          <%= f.select :max, (10..99).to_a %>
        </div>

        <%= f.label :nivel_educacional %>
        <%= f.select(:idFiltroEducacion, @educacion.collect{|p| [ p.nombre, p.idEducacion ]},{},{ :multiple => true })%>

        <%= f.label :ocupacion %>
        <%= f.select(:idFiltroOcupacion, @ocupacion.collect{|p| [ p.nombre, p.idOcupacion ]},{},{ :multiple => true }) %>

        <%= f.submit 'Crear' ,class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>