<% provide(:title, 'Carga Encuesta') %>
<h1>Cargar Encuesta</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for (@advertising), html: { multipart: true },:method => 'PUT' ,:url => new_encuesta_user_advertising_path(current_user.idUsuario,@advertising) do |f| %>
        <%= render 'shared/error_messages', object: f.object%>

        <%= f.hidden_field :idUsuario, :value => @advertising.idUsuario %>

        <div id="encuesta">
            <%= f.label :encuesta %>
            <%= f.file_field :csv %>
        </div>

        <%= f.submit 'Generar' ,class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>