<aside class="span3">
  <% if @user.activada == 0 %>
      <section>
        <h1>
          <%= @user.email%>
        </h1>
      </section>
        <span>
            <%= link_to "Actualiza tu perfil", edit_user_path %>
        </span>
  <% else %>
      <section>
        <h4><small>Bienvenido!!!</small></h4>
        <h1><%= @user.nombre  + " " + @user.apellido1 + " " +  @user.apellido2%></h1>
      </section>
      <span></span>
  <% end %>
</aside>
<div class="span8">
  <% if @user.activada == 1 && @advertisings.any? %>
      <h3>Publicidades disponibles (<%= @advertisings.count %>)</h3>
      <ol class="advertisings">
        <%= render advertisings %>
      </ol>
      <%= will_paginate advertisings %>
  <% elsif  @user.activada == 1%>
      <h2>No tienes publicidades disponibles!!</h2>
      <h2>Vuelve pronto por más novedades!!</h2>
  <% else%>
      <h2>Antes de empezar a ganar premios, debes completar tu perfil y activar tu cuenta!!!</h2>
  <% end %>
</div>