<% provide(:title, 'Inscripción') %>
<h1>Nuevo Cliente</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for (@user),:url => new_cliente_user_path(current_user.idUsuario,@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object%>
          <%= f.label 'email:' %>
          <%= f.text_field :email %>

          <%= f.label 'celular:' %>
          <%= f.text_field :celular %>

          <%= f.label 'nombre:' %>
          <%= f.text_field :nombre %>

        <%= f.label :Logo %>
        <%= f.file_field :avatar_path %>

          <%= f.label 'password:' %>
          <%= f.password_field :password %>

          <%= f.label 'confirme Password:' %>
          <%= f.password_field :password_confirmation %>

          <%= f.submit 'Crear' ,class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>